name: Module 5 Assignment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm install
      - name: npm run
        run: npm run 
      - name: pm2 install
        run: npm install pm2 -g
      - name: pm2 start
        run: pm2 start index.js --name "module5-assignment"
      